body{
    text-align: center;
    padding: 30px;
}

h1, h2{
    font-family: "Courier New";
    font-weight: bold;
    color: SeaGreen;
}

.shelf-img{
    height: 200px;
    /* width: 500px; */
    /* object-position:0 50%; */
}

.center {
    margin: auto;
    margin-top: 150px;
  }

.input-group {
    width: 500px;
}

#search-box{
    width: 400px;
}


.btn{
    background-color: darksalmon;
    border-color: black;
}

/* .btn:hover {
    background-color:seagreen !important;
} */

.results {
    visibility: hidden;
}